:root {
    --display_dark: none;
    --color: antiquewhite;
    --color_pro: antiquewhite;
    --active_click: rgb(207, 180, 143);
    --background-color-job: rgb(80, 73, 113);
    --background-topbtn:  rgb(99, 99, 99);
    --background-color-footer: rgb(38, 33, 48);
    --background-image: linear-gradient(rgb(38, 38, 61),rgb(56, 47, 77));
    --background_tool_bar: rgb(38, 38, 61);
    --opacity_projects: 0.7;
    --footerid2: rgb(187, 176, 161);
    --opacity_darkmode: 1;
    --filter_tool_icons: brightness(100%);
}

.lightmode {
    --color: rgb(54, 8, 44);
    --active_click: rgb(99, 37, 85);
    --background-color-job: rgb(235, 201, 238);
    --background-topbtn:  rgb(187, 187, 187);
    --background-color-footer: rgb(219, 179, 223);
    --background-image: linear-gradient(rgb(253, 253, 253),rgb(252, 219, 255));
    --background_tool_bar: rgb(253, 253, 253);
    --display_light: flex;
    --color_pro: antiquewhite;
    --footerid2: rgb(40, 19, 35);
    --opacity_lightmode: 0;
    --filter_tool_icons: brightness(60%);
}

body {
    margin: 0px;
    background-attachment: fixed;
    font-family: "DM Sans", sans-serif;
    color: var(--color);
    background-image: var(--background-image);
}

a {
    text-decoration: none;
}

.header{
    justify-items: left;
    color: var(--color);
    align-items: center;
    padding-left: 25px;
    padding-bottom: 10px;
}
.tool-bar {
    display: flex;
    background-color: var(--background_tool_bar) ;
    flex-flow: row nowrap;
    /* justify-content: right; */
    align-items: center;
    position: sticky;
    top:0%;
    align-content: center;
    z-index: 4;
    justify-content: space-between;
    margin-right: 15px;
    margin-left: 15px;
}
.tool-bar button{
    display: flex;
    flex-flow: row;
    align-items: center;
    align-content: center;
    background: transparent;
    border: none;
    position: relative;
}
#right_buttons  {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 15px;
    z-index: 5;
}
#moon {
    display: none;
    position: sticky;
}
#port_div{
    display: flex;
    justify-content: left;
}
#port{
    width: 150px;
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 15px;
}

.lightmode #moon {
    display: flex;
    position: relative;
}
.lightmode #sun {
    display: var(--display_light);
    display: flex;
    filter: sepia(100%);
    left: 70px;
    opacity: 0;
    position: fixed;
}

.light_tooltip{
    position: absolute;
    background-color: rgb(91, 91, 91);
    padding: 4px;
    font-family: "DM Sans";
    color: white;
    width: 60px;
    border-radius: 5px;
    font-size: 10px;
    bottom: -25px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}


.dark_tooltip {
    position: absolute;
    background-color: rgb(91, 91, 91);
    padding: 4px;
    font-family: "DM Sans";
    color: white;
    width: 60px;
    border-radius: 5px;
    font-size: 10px;
    bottom: -35px;
    left: -12px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

/*Tooltip Toggle*/
.tool-bar button:hover .light_tooltip{
    opacity: 1; /*1*/
}
.tool-bar button:hover .dark_tooltip{
    opacity: 0; /*0*/
}
.lightmode .tool-bar button:hover .light_tooltip { 
    /*When you over the button, the element does this:*/
    opacity: 0; /*0*/
}
.lightmode .tool-bar button:hover .dark_tooltip{
    opacity: 1; /*1*/
}

.tool-bar img{
    width: 20px;
    fill: rgb(161, 65, 183);
    padding-right: 5px;
    padding-bottom: 3px;
    /* background-color: none; */
}

.tool-bar img:hover{
    cursor: pointer;
}

.tool-bar li {
    color: var(--color);
    transition: opacity 0s;
    list-style-type: none;
    font-size: 18px;
    
}

.link {
    margin: 5px;
    padding: 10px;
    color: var(--color);
    transition: opacity 0s;
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
}
.link:hover, #ghbtn:hover{
    text-decoration: underline;
    cursor: pointer;
}

li:active {
    text-decoration: underline;
    color: var(--active_click);
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: center;
    justify-items: center; */
    margin-left: 70px;
    margin-right: 30px;
    
}
.home h1{
    font-size: 3.0em;
    font-family: "DM Sans", sans-serif;
    padding-left: 25px;
    margin-top: 70px;
    padding-right: 25px;
    animation: 1.5s fadeInUp;
}
.home p{
    font-family: "DM Sans", sans-serif;
    font-size: 1.8vw;
    padding-left: 25px;
    padding-right: 25px;  
    animation: 1.5s fadeInUp;
     
}
/*home p text animation*/
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

#boo{ 
    display: inline-block;
    height: auto;
    width: 350px;
    max-width: 100%;
    margin-top: 50px;
}

.image {
    display: flex;
    margin-left: 150px;
    flex-flow: column;
    justify-content: center;
    justify-items: right;
    align-items: center;
    align-content: center;
}
.animationFadeIn {
    flex: 1 1 100%;
}
.btns{
    display: flex;
    width: 140px;
    display: row;
    justify-items: center;
    align-content: center;
    align-items: center;
    align-items: space-evenly;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.topbtn{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: 1px;
    background-color: var(--background-topbtn);
    padding: 10px;
    text-decoration: none;
    position: relative;
}

.topbtn:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1.5px, rgb(0 0 255 / 0.5px);
    background-color: rgb(159, 159, 159);
    text-decoration: underline;
}

.topbtn:hover .btns_tooltip{
    opacity: 1;
} 

#ghbtn {
    width: 25px;
}

/*Text size*/
@media only screen and (max-width: 1000px) {
  .home p {
    font-size: 25px;
  }
  .home h1 {
    font-size: 35px;
  }
  .image {
    margin-left: 0px;
  }
  .project{
    display: flex;
    font-size: 20px;
    }
    #ghbtn {
        width: 2vw;
    }
}
@media only screen and (max-width: 700px) {
    .home p {
        font-size: 3vw;
  }
}
#menu_icon  {
    display: none;
}

#icon_ham, #icon_close, #port_ham_toolbar, #icons {
    display: none;
}
/* Menu Toggle */
@media (max-width: 630px) {
    /* .job{
        display: flex;
        border: solid black;
        border-radius: 25px;
        align-items: flex-start;
        align-content: flex-start;
        padding: 8px;
        font-size: 17px;   
    } */
    .tool-bar {
        position: fixed;
        z-index: 10;
        top: 9.5%;
        right: -100%;
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

   #port_ham_toolbar {
        display: flex;
        justify-content: left;
        list-style-type: none;
    }

    #port_ham {
        width: 150px;
        display: flex;
        flex-flow: row wrap;
        margin-top: 10px;
        margin-right: 5px;
        margin-left: 25px;
        padding-right: 5px;
        padding-bottom: 3px;
    }

    #port{
        display: none;
    }

    #icons {
        display: flex;
    }

    #right_buttons {
        height: 100%;
        display: flex;
        width: 100%;;
        flex-flow: column wrap;
    }

    #right_buttons li {
        margin: 20px;
    }
    #icon_ham_toolbar{
        background-color: var(--background_tool_bar);
        position: sticky;
        display: flex;
        z-index: 10;
        top: 0%;
        justify-content: space-between;
        top: 0;
    }
    #icon_ham:hover,  #icon_close:hover {
        cursor: pointer;
        filter: brightness(50%);
    }
    #icon_ham:active, #icon_close:active {
        cursor: pointer;
        filter: brightness(40%);
    }

    #icon_ham{
        margin: 9px;
        display: inline-block;
        height: auto;
        width: 50px;
        filter: var(--filter_tool_icons);
    }

    #icon_close {
        margin: 9px;
        display: none;
        height: auto;
        width: 50px;
        filter: var(--filter_tool_icons);
    }

    /* #experience {
        display: flex;
        flex-flow: row wrap;
        max-width: 100%;
        max-height: 100%;
        justify-items: center;
        padding: 16px;
    } */

    .job {
        display: flex;
        flex-flow: row wrap;
        font-size: 2vw;
    }

    .job-info h3 {
        font-size: 7vw;
        margin: 0px;
}

}


#experience, #projects{
    margin: 50px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    justify-items: center;
}


#experience_box {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-flow: column wrap;
    column-gap: 25px;
    max-width: 100%;
    max-height: 100%;
    row-gap: 20px;
    justify-items: center;
    padding: 16px;
}

.job {
    display: flex;
    background-color: var(--background-color-job);
    border-radius: 25px;
    align-items: flex-start;
    align-content: flex-start;
    padding: 18px;
    font-size: 2vw;
}

.logo {
    display: inline-block;
}
.job img{
    display: inline-block;
    height: auto;
    width: 65px;
    padding: 10px;
}

.job time {
    font-size: 10px;
}
.desc {
    font-size: 10px;
    margin-top: 7px;
    display: inline-block;
}

.job-info {
    display: inline-block;
    margin: 0%;
    padding: 10px;
}

.job-info h3 {
    font-size: 25px;
    margin: 0px;
}
.job-info li {
    margin-top: 8px;
}
.desc {
    font-size: 12px;
}


@media only screen and (min-width: 630px) {
    #experience_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-flow: row wrap;
    max-width: 100%;
    max-height: 100%;
    justify-items: center;
    padding: 16px;
    }
}

/* Skill Section */
#skills  {
    margin: 50px;
}

.container_skills{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 20px;
}

.skill {
    background-color: var(--background-color-job);
    height: 40px;
    border-radius: 35px;
    text-align: center;
    align-content: center;
    width: 120px;
    padding: 6px;
    margin-right: 9px;
    margin-bottom: 10px;
    margin-left: 9px;
}

.skill img{
    display: inline;
    text-align: center;
    width: 20px;
    /* position: relative; */
    bottom: -2px;
    padding-right: 7px;
    height: 20px;
}


/* Project Section */
.container_projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#data_analysis_header {
    display: inline-block;
}
.project {
    display: flex;
    font-size: 20px;
    height: 140px;

    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #0000, c;
    /* transition: text-decoration 1.0s; */
}

.project:hover {
    /* text-decoration: underline; */
    filter: brightness(80%);
    color: var(--color_pro);
}

#tip_box, #color, #stopwatch, #count, #python_proj {
    position: relative;
    transition: text-decoration 1.0s;
    color: var(--color);
}

#python_proj:hover {
    text-decoration: underline;
    color: var(--color_pro);
}

#tip_box::before{
    background-image: url("tip.png");
    backdrop-filter: blur(50px);
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container*/
    opacity: var(--opacity_projects);
    position: absolute;
    content: "  ";
    width: 670px; 
    height: auto;
    max-width: 100%;
    height: 140px;
}

#python_proj::before {
    background-image: url("py_proj.png");
    backdrop-filter: blur(50px);
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container*/
    opacity: var(--opacity_projects);
    position: absolute;
    content: "  ";
    width: 670px; 
    height: auto;
    max-width: 100%;
    height: 140px;
}
#count::before{
    background-image: url("adam.png");
    backdrop-filter: blur(50px);
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container*/
    opacity: var(--opacity_projects);
    position: absolute;
    content: "  ";
    width: 670px; 
    height: auto;
    max-width: 100%;
    height: 140px;
}

#stopwatch::before{
    background-image: url("stopwatch.png");
    backdrop-filter: blur(30px);
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container*/
    opacity: var(--opacity_projects);
    position: absolute;
    content: "  ";
    width: 670px; 
    height: auto;
    max-width: 100%;
    height: 140px;
}

#color::before{
    background-image: url("color.png");
    backdrop-filter: blur(60px);
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container*/
    opacity: var(--opacity_projects);
    position: absolute;
    content: "  ";
    width: 670px; 
    height: auto;
    max-width: 100%;
    height: 140px;
}

#tip_box h2, #count h2, #stopwatch h2, #color h2, #python_proj h2{
    color: var(--color_pro);
    opacity: 1;
    padding: 16px;
    position: relative;
}

/*Footer Section */
#footer {
    background-color: var(--background-color-footer);
    width: auto;
}

#footerLinks {
    display: flex;
    background-color: var(--background-color-footer);
    align-items: center;
    color: var(--color);
    min-height: 120px;
    width: auto;
    text-align: center;
    margin: none;
    justify-content: center;
    justify-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.footer_text{
        text-align: center;
        text-decoration: none;
        padding: 20px;
        font-family: "DM Sans";
        color: var(--color);
        text-decoration: none;
        font-size: 15px;
}

@media only screen and (min-width: 650px) {
    .footer_text{
        text-align: center;
        text-decoration: none;
        padding: 20px;
        font-size: 20px;
        font-family: "DM Sans";
        color: var(--color);
        text-decoration: none;
        /* font-weight: 2px; */
    }
}

.footer_text:hover{
    cursor: pointer;
    text-decoration: underline;
}

#id2 {
    justify-items: center;
    align-items: center;
    padding-bottom: 20px;
    max-height: 100%;
    color: var(--footerid2);
}


